<mat-toolbar color="">
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="menu icon-button with menu icon"
  >
    <img
      src="../../../assets/robot.svg"
      alt="Mars Robot Simulator"
      class="logo"
    />
  </button>
  <span>Mars Robot Simulator</span>
  <span class="menu-spacer"></span>
  <button
    mat-icon-button
    class="menu-icon favorite-icon"
    aria-label="menu icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="menu icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
