/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Urbanist:wght@100;200&display=swap");

html,
body {
  height: 100%;
  font-family: "Urbanist", sans-serif;
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    font-family: "Urbanist", sans-serif;
  }

  p {
    margin: 0;
    font-family: "Urbanist", sans-serif;
  }
  a {
    font-family: "Urbanist", sans-serif;
    color: #1976d2;
    text-decoration: none;
    &:visited,
    &:hover {
      color: #5e6469;
      text-decoration: none;
    }
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    img {
      margin: 0 16px;
    }

    #twitter-logo {
      height: 40px;
      margin: 0 8px;
      &:hover {
        opacity: 0.8;
      }
    }

    #youtube-logo {
      height: 40px;
      margin: 0 16px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    // align-items: center;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    svg {
      .material-icons path {
        fill: #888;
      }
    }
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    a {
      display: flex;
      align-items: center;
    }
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;

    &:hover {
      background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
      border-color: rgba(27, 31, 35, 0.35);
      background-position: -0.5em;
    }

    .material-icons {
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  }

  .error {
    font-family: "Urbanist", sans-serif;
    width: 100%;
    padding: 7px;
    background-color: #f5f5f5;
  }
}
