<!-- <h1 mat-dialog-title>Hi {{ data.name }}</h1> -->
<form [formGroup]="positionForm" class="form-dialog">
  <div mat-dialog-content>
    <p>Place the Robot in the Platform.</p>
    <mat-form-field>
      <mat-label>Enter X axis value (required)</mat-label>
      <input
        matInput
        maxlength="1"
        min="0"
        max="4"
        type="number"
        formControlName="xFormControl"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter Y axis value (required)</mat-label>
      <input
        matInput
        maxlength="1"
        min="0"
        max="4"
        type="number"
        formControlName="yFormControl"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select the Direction (required)</mat-label>
      <select matNativeControl required formControlName="directionFormControl">
        <option label="--select a direction --"></option>
        <option *ngFor="let dir of directions" value="{{ dir }}">
          {{ dir }}
        </option>
      </select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      [mat-dialog-close]="1"
      cdkFocusInitial
      (click)="placeRobot()"
      [disabled]="!positionForm.valid"
      mat-raised-button
      type="submit"
      color="primary"
      class="btn-full-w"
    >
      Ok
    </button>
    <button
      mat-button
      mat-raised-button
      (click)="onNoClick()"
      class="btn-full-w"
    >
      Cancel
    </button>
  </div>
</form>
