.form-dialog {
  text-align: center;
  flex-direction: column;

  padding: 0;
  margin: 0;
  display: contents;
  .mat-form-field {
    width: 328px;
  }

  mat-raised-button,
  .btn-full-w {
    width: 328px;
    margin-bottom: 7px;
    margin-left: 0;
  }
}
