.robot-form {
  min-width: 150px;
  max-width: 500px;
  //   width: 100%;
  margin: 14px auto;
  .player {
    width: 90px;
    height: 90px;
  }

  .mat-icon {
    margin-top: -5px;
  }
}

.robot-full-width {
  width: 100%;
}

td {
  //   padding-right: 8px;
  text-align: center;
  padding: 14px 0;
}

.playground {
  // border: 4px solid #3c096c;
  background-color: #4050b5;

  // box-shadow: 0 0 0 3px #7c82ad;
  box-shadow: 0px 0px 10px 5px hsl(229deg 6% 66% / 20%);
  color: #f5f5f5;
  margin: 40px auto;
  text-align: center;
  //   display: block;
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;

  .typing-txt {
    width: 250px;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  .robot {
    width: 60px;
    height: 60px;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

.cards {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  // width: 1000px;
  // height: 440px;
  margin: auto;
  padding-left: 20px;
  div {
    padding: 14px;
    position: relative;
    box-shadow: 0px 0px 10px 5px hsl(229deg 6% 66% / 20%);
    color: hsl(234, 12%, 34%);
    background-color: #fff;
    .reportPos {
      font-size: 1.5em;
      color: #3c096c;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }
  .super {
    border-top: 4px solid #240046;
  }

  .team {
    border-top: 4px solid #5a189a;
  }

  .karma {
    border-top: 4px solid hsl(273, 97%, 64%);
    grid-area: 3/2 / span 2/2;
  }

  .calc {
    border-top: 4px solid #c77dff;
  }
}

.gameScene {
  background-image: url("../../../assets/platform.jpg");
  display: block;
}
