.robot-form {
  min-width: 150px;
  max-width: 500px;
  margin: 14px auto;
  .place-btn {
    width: 90px;
    height: 90px;
  }

  .mat-icon {
    margin-top: -5px;
  }

  .robot-full-width {
    width: 100%;

    td {
      text-align: center;
      padding: 14px 0;
    }
  }
}

.playground {
  background-color: #4050b5;
  box-shadow: 0px 0px 10px 5px hsl(229deg 6% 66% / 20%);
  color: #f5f5f5;
  margin: 40px auto;
  text-align: center;
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;

  .typing-txt {
    width: 250px;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
  }
  .robot {
    width: 60px;
    height: 60px;
    img {
      width: 60px;
      height: 60px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

.cards {
  margin: auto;
  padding-left: 20px;
  div {
    padding: 14px;
    position: relative;
    box-shadow: 0px 0px 10px 5px hsl(229deg 6% 66% / 20%);
    color: hsl(234, 12%, 34%);
    background-color: #fff;
    p {
      span {
        font-size: 1.2em;
        color: #4050b5;
        font-weight: bolder;
        text-transform: capitalize;
      }
    }
  }
  .report-x {
    border-top: 4px solid #240046;
  }

  .report-y {
    border-top: 4px solid #5a189a;
  }

  .karma {
    border-top: 4px solid hsl(273, 97%, 64%);
    grid-area: 3/2 / span 2/2;
  }

  .report-d {
    border-top: 4px solid #c77dff;
  }
}

.stage {
  background-image: url("../../../assets/platform.jpg");
  display: block;
}
